#app {
    display: grid;
    grid-template-areas:
        'navbar navbar'
        'sidebar content';

    grid-template-columns: $width-sidebar calc(100vw - $width-sidebar);

    grid-template-rows: $height-nav calc(100vh - $height-nav);

    &.collapse {
        grid-template-columns: $width-sidebar-collapse calc(
                100vw - $width-sidebar-collapse
            );

        #sidebar {
            width: $width-sidebar-collapse;

            .sidebar__header {
                justify-content: center;

                h2 {
                    display: none;
                }
                button img {
                    transform: rotate(180deg);
                }
            }

            .channel__item {
                justify-content: center;

                &--info,
                &--views {
                    display: none;
                }
            }
        }

        #content {
            width: calc(100vw - $width-sidebar-collapse);
        }
    }
}

#nabar {
    grid-area: navbar;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
    height: 100%;
    overflow-y: scroll;
    background: $bg-content;

    padding: 30px;
}
